<?xml version='1.0' encoding='utf-8'?>
<!-- EnsariPOS Patron Direkt (03.10.2026): exe/bulut OLMADAN dogrudan SambaPOS mesaj sunucusuna
     (IP:9000) baglanan bagimsiz patron rapor APK'si. Veri Metrik mantigiyla SambaPOS GraphQL'den
     (getTickets/getCustomReport) alinir. Ekranlar ..\ek'ten derleme sirasinda kopyalanir.
     Mevcut PatronSistemi.apk / patron2.ornek-alanadi.com'dan BAGIMSIZ ayri bir urundur.
     Derleme: ..\derle.ps1 -> ..\dist\EnsariPatronDirekt.apk -->
<widget id="com.ensaripos.patrondirekt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patron Direkt</name>
    <description>EnsariPOS Patron Direkt - SambaPOS'a dogrudan baglanan patron rapor uygulamasi</description>
    <author email="destek@ornek-alanadi.com" href="https://ornek-alanadi.com">EnsariPOS</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://localhost/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="BackgroundColor" value="0xff0f1420" />
    <preference name="AndroidWindowSplashScreenBackground" value="#0f1420" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/xxxhdpi-fg.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon density="ldpi" src="res/icon/ldpi.png" foreground="res/icon/ldpi-fg.png" background="res/icon/ldpi-bg.png" />
        <icon density="mdpi" src="res/icon/mdpi.png" foreground="res/icon/mdpi-fg.png" background="res/icon/mdpi-bg.png" />
        <icon density="hdpi" src="res/icon/hdpi.png" foreground="res/icon/hdpi-fg.png" background="res/icon/hdpi-bg.png" />
        <icon density="xhdpi" src="res/icon/xhdpi.png" foreground="res/icon/xhdpi-fg.png" background="res/icon/xhdpi-bg.png" />
        <icon density="xxhdpi" src="res/icon/xxhdpi.png" foreground="res/icon/xxhdpi-fg.png" background="res/icon/xxhdpi-bg.png" />
        <icon density="xxxhdpi" src="res/icon/xxxhdpi.png" foreground="res/icon/xxxhdpi-fg.png" background="res/icon/xxxhdpi-bg.png" />
    </platform>
</widget>
